<!--About-->
<section class="alternate-red text-center" ng-controller="AboutCtrl">
  <h1 class="text-center">{{title}}</h1>
  <p ng-repeat="paragraph in paragraphs">
    {{paragraph}}
  </p>
</section>
