<!--Landing-->
<section class="landing text-center" ng-controller="LandingCtrl">
  <!--Logo-->
  <div class="row">
    <img class="logo small-centered column" src="/assets/img/logo.svg" alt="HackUMass Logo">
  </div>

  <!--Headlne-->
  <div class="row text-center">
    <h5>Western Massachusett's Largest Hackathon</h5>
    <h5>{{date}} @ UMass Amherst</h5>
  </div>

  <!--Countdown-->
  <div class="row text-center countdown">
    <div class="small-4 column">
      <h1>000</h1>
      <h3>Days</h3>
    </div>
    <div class="small-4 column">
      <h1>000</h1>
      <h3>Hours</h3>
    </div>
    <div class="small-4 column">
      <h1>000</h1>
      <h3>Minutes</h3>
    </div>
  </div>

  <!--Attend and Sponsor-->


</section>
