<!--Landing-->
<section class="landing text-center" ng-controller="LandingCtrl">
  <!--Logo-->
  <div class="row">
    <object class="logo small-centered column" data="/assets/img/logo.svg" type="image/svg+xml">
      <img src="/assets/img/logo.png" alt="HackUMass Logo" />
    </object>
  </div>

  <!--Headlne-->
  <div class="row text-center">
    <h5>Western Massachusetts' Largest Hackathon</h5>
    <h5>{{date}} @ UMass Amherst</h5>
  </div>

  <!--Countdown-->
  <div class="row text-center countdown">
    <div class="small-4 column">
      <h1>000</h1>
      <h3>Days</h3>
    </div>
    <div class="small-4 column">
      <h1>000</h1>
      <h3>Hours</h3>
    </div>
    <div class="small-4 column">
      <h1>000</h1>
      <h3>Minutes</h3>
    </div>
  </div>

  <!--Attend and Sponsor-->
  <div class="row">
    <a href="#page-footer" class="unstyled-link" data-scroll>
      <button class="transparent-btn wipe-btn">Attend</button>
    </a>
    <a href="#" class="unstyled-link">
      <button class="transparent-btn wipe-btn">Sponsor</button>
    </a>
  </div>

  <div class="row social-media">
    <div class="small-12 column">
      <a class="unstyled-link" href="https://www.facebook.com/hackUMass" target="_blank">
        <span class="fa fa-facebook"></span>
      </a>
      <a class="unstyled-link" href="https://twitter.com/hackumass" target="_blank">
        <span class="fa fa-twitter"></span>
      </a>
    </div>
  </div>

</section>
