<!--Schedule-->
<section class="text-center alternate schedule" ng-controller="ScheduleCtrl">
  <h1>{{title}}</h1>

  <div class="row">
    <div class="small-12 column" ng-repeat="day in schedule">
      <h3>{{day.day}}</h3>
      <table>
        <tr ng-repeat="event in day.events">
          <td>{{event.time}}</td>
          <td>{{event.action}}</td>
        </tr>
      </table>
    </div>
  </div>

</section>
