<!--Sponsors-->
<section class="alternate text-center sponsors" ng-controller="SponsorsCtrl">
  <h1>{{title}}</h1>
  <div class="logos">
		<ul class="large">
			<li ng-repeat="logo in largelogos">
				<a href={{link}}>
				<img src={{logo.image_url}} alt={{logo.name}}/>
				</a>
			</li>
		</ul>
		<ul class="medium">
			<li ng-repeat="logo in mediumlogos">
				<a href={{link}}>
				<img src={{logo.image_url}} alt={{logo.name}}/>
				</a>
			</li>
		</ul>
		<h2> {{subtitle}} </h2>
		<ul class="partners">
			<li ng-repeat="logo in partnerlogos">
				<a href={{link}}>
				<img src={{logo.image_url}} alt={{logo.name}}/>
				</a>
			</li>
		</ul>
  </div>
  <p ng-bind-html="email"></p>

</section>
