<!--Sponsors-->
<section class="alternate text-center sponsors" ng-controller="SponsorsCtrl">
  <h1>{{title}}</h1>
  <div class="logos">
    <ul class="xlarge">
      <li ng-repeat="logo in xlargelogos">
        <a href={{logo.link}} target="_blank">
          <img src={{logo.image_url}} alt={{logo.name}} id={{logo.name}}>
        </a>
      </li>
    </ul>
		<ul class="large">
      <li ng-repeat="logo in largelogos">
        <a href={{logo.link}} target="_blank">
          <img src={{logo.image_url}} alt={{logo.name}} id={{logo.name}}>
        </a>
      </li>
    </ul>
    <ul class="medium">
			<li ng-repeat="logo in mediumlogos">
				<a href={{logo.link}} target="_blank">
				  <img src={{logo.image_url}} alt={{logo.name}} id={{logo.name}}>
				</a>
			</li>
		</ul>
		<ul class="small">
			<li ng-repeat="logo in smalllogos">
				<a href={{logo.link}} target="_blank">
				  <img src={{logo.image_url}} alt={{logo.name}} id={{logo.name}}>
				</a>
			</li>
		</ul>
    <br><br>
		<h1>{{subtitle}}</h1>
		<ul class="medium">
			<li ng-repeat="logo in partnerlogos">
				<a href={{logo.link}} target="_blank">
				  <img src={{logo.image_url}} alt={{logo.name}} id={{logo.name}}>
				</a>
			</li>
		</ul>
  </div>
  <p id="sponsor" ng-bind-html="email"></p>

</section>
