# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
node_modules/

# --------------------
# Bower Files
# --------------------
.bower-*/
bower_components

# --------------------
# Build Files
# --------------------
public/assets/build
public/assets/fonts/fontawesome-*
public/assets/fonts/FontAwesome.otf

# --------------------
# Misc
# --------------------
Thumbs.db
