@font-face {
  font-family: AvenirNext;
  src: url(../assets/fonts/avenir/AvenirNext-Regular.eot?#iefix) format("embedded-opentype"),
       url(../assets/fonts/avenir/AvenirNext-Regular.ttf) format("truetype");
}

html, body {
  font-family: AvenirNext;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: AvenirNext;
  color: #fff;
}

input[type="email"], input[type="email"]:focus {
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  height: 30px;
  max-width: 275px;
  box-shadow: none;
  text-align: center;
  color: #fff;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}

button:focus {
  background: none;
}
.transparent-btn {
  outline: none;
  letter-spacing: 1px;
  font-weight: 700;
  z-index: 1;
  background: none;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.transparent-btn:hover,
.transparent-btn:active {
  background: none;
}
.landing .transparent-btn {
  height: 60px;
  width: 180px;
}
footer .transparent-btn {
  height: 60px;
  width: 180px;
}

.wipe-btn:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #fff;
  z-index: -1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.wipe-btn:hover,
.wipe-btn:active {
  color: #1A1A1A;
}
.wipe-btn:hover:after,
.wipe-btn:active:after {
  height: 100%;
}

.fade-btn:hover,
.fade-btn:active {
  color: #1A1A1A;
  background: #fff;
}

.unstyled-link,
.unstyled-link:link,
.unstyled-link:hover,
.unstyled-link:visited,
.unstyled-link:active {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 24px 96px;
  background-color: #1A1A1A;
  color: #fff;
}

.alternate {
  background-color: #fff;
  color: #1A1A1A;
}
.alternate h1,
.alternate h2,
.alternate h3,
.alternate h4,
.alternate h5,
.alternate h6 {
  color: #1A1A1A;
}

.alternate-red {
  background-color: #D94B3F;
  color: #fff;
}
.alternate-red h1,
.alternate-red h2,
.alternate-red h3,
.alternate-red h4,
.alternate-red h5,
.alternate-red h6 {
  color: #fff;
}

footer {
  border-top: solid thick #D94B3F;
  padding: 45px;
  background-color: #1A1A1A;
  color: #fff;
}

.copyright {
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 10px;
  color: #fff;
  background-color: #101010;
  font-size: 0.75em;
}

.msg-box {
  height: 1em;
  margin-bottom: 1em;
}

.landing {
  min-height: 100vh;
  width: 100%;
}
.landing > .row{
  padding-bottom: 25px;
}
.logo {
  max-height: 400px;
}

.schedule table {
  width: 100%;
}
table tr th,
table tr td {
  font-size: 1.1em;
}
table tr td:nth-child(1) {
  width: 25%;
}
table tr td:nth-child(2) {
  width: 75%;
}

.fa {
  font-size: 1em;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.fa-heart {
  color: #D94B3F;
}

.panel-title {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  background-color: #D94B3F;
  transition: 1s ease;
}
.panel-title:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 1s ease;
}
.panel {
  width: 100%;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1em;
}

.social-media {
  font-size: 3em;
  letter-spacing: 10px;
  padding-bottom: 25px;
}

.fa-facebook:hover {
  color: #3b5998;
}
.fa-twitter:hover {
  color: #4099FF;
}

#registration-information {
  color: #ffffff;
  text-align: center;
}

/*Breakpoints*/
@media (max-width: 768px) {
  section {
    padding: 24px 64px;
  }
  body {
    font-size: 0.8em;
  }
  footer {
    padding: 30px;
  }

}

@media (max-width: 480px) {
  section {
    padding: 24px 32px;
  }
  body {
    font-size: 0.6em;
  }
  input[type="email"] {
    font-size: 0.8em;
  }
  footer {
    padding: 15px;
  }
  footer .transparent-btn {
    height: 40px;
    width: 120px;
  }

}
