/*TODO: Fix Firefox bug...FFS FF*/

#santahat {
  -webkit-animation: fade 2s;
}

#gear1 {    /*bottom gear*/
  -webkit-animation:
    fade 4s,
    rotate 16s linear infinite;
  /*
  -moz-animation: rotate 16s linear infinite;
  -ms-animation: rotate 16s linear infinite;
  animation: rotate 16s linear infinite;
  */
  -webkit-transform-origin: center;
}

#gear2 {  /*middle gear*/
  -webkit-animation:
    fade 4s,
    rotate 16s linear infinite;
  /*
  -moz-animation: rotate 16s linear infinite;
  -ms-animation: rotate 16s linear infinite;
  animation: rotate 16s linear infinite;
  */
  -webkit-animation-direction:
    normal,
    reverse;
  /*
  -moz-animation-direction: reverse;
  -ms-animation-direction: reverse;
  animation-direction: reverse;
  */
  -webkit-transform-origin: center;
}

#gear3 {  /*top gear*/
  -webkit-animation:
    fade 4s,
    rotate 19.999s linear infinite;
  /*
  -moz-animation: rotate 19.999s linear infinite;
  -ms-animation: rotate 19.999s linear infinite;
  animation: rotate 19.999s linear infinite;
  */
  -webkit-transform-origin: center;
}

/*dot stuff*/
.dot {
  -webkit-animation: fade 4s;
}

.red-circuit, .white-circuit {
  -webkit-animation: fade 3.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;;
  transition: all 0.5s;
}
svg:hover .red-circuit {
  fill: #550000;
}
svg:hover .white-circuit {
  fill: #FFFFFF;
}

/*wires*/
.gray-stroke {
  -webkit-animation:
    fade 4s,
    strokey 1s linear infinite;
  -moz-animation: strokey 1s linear infinite;
  -ms-animation: strokey 1s linear infinite;
  animation: strokey 1s linear infinite;
  stroke: #cccccc;
}

.red-stroke {
  -webkit-animation:
    fade 4s,
    strokey 1s linear infinite;
  -moz-animation: strokey 1s linear infinite;
  -ms-animation: strokey 1s linear infinite;
  animation: strokey 1s linear infinite;
  stroke: #ff0000;
}

.white-stroke {
  -webkit-animation:
    fade 4s,
    strokey 1s linear infinite;
  -moz-animation: strokey 1s linear infinite;
  -ms-animation: strokey 1s linear infinite;
  animation: strokey 1s linear infinite;
  -webkit-animation: fade 4s;
}

.red-stroke {
  -webkit-animation: fade 4s;
}

.white-stroke {
  -webkit-animation: fade 4s;
}

/*HACK*/
.hack {
  -webkit-animation: fade 3s;
}

/*UMASS*/
.umass {
  -webkit-animation: fade 6s;
<<<<<<< HEAD
}

@-webkit-keyframes strokey {
  0% {
    stroke-width: 0;
  }

  50% {
    stroke-width: 1;
  }

  100% {
    stroke-width: 0;
  }
}
@-moz-keyframes strokey {
  0% {
    stroke-width: 0;
  }

  50% {
    stroke-width: 1.5;
  }

  100% {
    stroke-width: 0;
  }
}
@keyframes strokey {
  0% {
    stroke-width: 0;
  }

  50% {
    stroke-width: 1.5;
  }

  100% {
    stroke-width: 0;
  }
=======
>>>>>>> 674faa4749a62180ffc6e3e8cc7e60a60d613db5
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fade {
  0% { opacity: 0;}
  25% { opacity: 0;}
  100% { opacity: 1;}
}
@-moz-keyframes fade {
  0% { opacity: 0;}
  25% { opacity: 0;}
  100% { opacity: 1;}
}
@keyframes fade {
  0% { opacity: 0;}
  25% { opacity: 0;}
  100% { opacity: 1;}
}
