<!DOCTYPE html>
<html>
  <% include includes/head.ejs %>
  <body>
    <!--Landing-->
    <section>
      <!--Logo-->
      <div class="row">
        <img class="logo small-centered column" src="/assets/img/logo.svg" alt="HackUMass Logo">
      </div>

      <!--Countdown-->
      <div class="row">

      </div>

      <!--Headline-->
      <div class="row text-center">
        <div class="small-4 column">
          <h2>500 Hackers</h2>
        </div>
        <div class="small-4 column">
          <h2>36 Hours</h2>
        </div>
        <div class="small-4 column">
          <h2>1 Stadium</h2>
        </div>
      </div>

      <!--Email-->
      <div class="row text-center">
        <h4>Sign up for updates</h4>
        <form>
          <div class="row">
            <div class="small-6 small-centered column">
              <input type="text" placeholder="Email Address">
            </div>
          </div>
          <button type="submit">Submit</button>
        </form>
      </div>
    </section>

    <!--About-->
    <section class="alternate">
      <h1 class="text-center">About</h1>
    </section>

    <!--FAQ-->
    <section>
      <h1 class="text-center">FAQ</h1>
    </section>

    <!--Sponsors-->
    <section class="alternate">
      <h1 class="text-center">Sponsors</h1>
    </section>
    <footer>
      <div class="social-media">
        <span class="fa fa-twitter"></span>
        <span class="fa fa-facebook"></span>
      </div>
    </footer>
    <% include includes/foot.ejs %>
  </body>
</html>
