<!DOCTYPE html>
<html>
  <% include includes/head.ejs %>
  <body>
    <!--Landing-->
    <section class="landing text-center">
      <!--Logo-->
      <div class="row">
        <img class="logo small-centered column" src="/assets/img/logo.svg" alt="HackUMass Logo">
      </div>

      <!--Countdown-->
      <div class="row">

      </div>

      <!--Headline-->
      <div class="row headline">
        <div class="small-4 column">
          <span class="fa fa-users"></span>
          <h3>500 Hackers</h3>
        </div>
        <div class="small-4 column">
          <span class="fa fa-clock-o"></span>
          <h3>36 Hours</h3>
        </div>
        <div class="small-4 column">
          <span class="fa fa-university"></span>
          <h3>1 Venue</h3>
        </div>
      </div>

      <!--Email-->
      <div class="row">
        <h4>Sign up for updates</h4>
        <form>
          <div class="row">
            <div class="small-6 small-centered column">
              <input type="text" placeholder="Email Address">
            </div>
          </div>
          <button class="btn btn-1 btn-1f" type="submit">Submit</button>
        </form>
      </div>
    </section>

    <!--About-->
    <section class="alternate text-center">
      <h1 class="text-center">About</h1>
  	  <p>
        HackUMass is an annual, student-run hackathon hosted at the University of Massachusetts,
        Amherst. It is going to be the largest hackathon of the Pioneer Valley, attracting over 500 of the
				most ambitious, talented, and creative hackers from all over the country to gather and build
				innovative software and hardware products. We aim to create a supportive, collaborative, and
				inclusive environment for all hackers no matter their background, gender, race, or sexuality.
				HackUMass is an amazing opportunity for students to grow as developers, innovators, and
				team players in order to bring dreams to reality.
  		</p>
  		<p>
        HackUMass 2014 was founded by a small team of students with a big vision: hosting the
  			Pioneer Valley&#39;s first intercollegiate embedded systems hackathon. We attracted students from
  			UMass, Mt. Holyoke, Brown, and MIT, with registration for all 100 spots filling up in less than 2
  			hours, leaving us with an extensive waitlist.
  			After hacking, teams presented their projects to fellow participants, sponsors, professors, and
  			the local community. All attendees agreed that our excellent event structure, food and snack
  			choices, supportive environment, and the enthusiastic mentors sent over by our sponsors
  			created an unforgettable hackathon experience.
      </p>
    </section>

    <!--FAQ-->
    <section class="text-center">
      <h1>FAQ</h1>
		<h3>Where is it?</h3>
		<p>
      HackUMass 2015 will take place at the Mullins Center, the biggest and most popular indoors venue on campus, with ample space and parking.
    </p>
		<h3>When is it?</h3>
		<p>
      April 11-12, 2015
    </p>
		<h3>Who's coming?</h3>
		<p>
      We expect over 500 hackers from across the US to attend our Hackathon, with most attendees arriving from Boston, Worcester, New York City, Providence, Connecticut, and Albany.
    </p>
    </section>

    <!--Sponsors-->
    <section class="alternate">
      <h1 class="text-center">Sponsors</h1>
		  <p>
        Are you interested in sponsoring HackUMass? Want to learn more about the opportunity? Read more or email us at sponsors&commat;hackumass.com.
      </p>
      <p>
        As a sponsor, there will be ample opportunities for your company to be featured at HackUMass,
        be it through our website, t-shirts, opening ceremony, distributed swag, company booth,
        sponsoring a bus or a meal, and even providing your own custom prize.
        Other exciting opportunities include:
      </p>
			<ul>
  			<li> Demoing your API to hundreds of students, who will then be able to integrate it into their projects</li>
  			<li> Getting early access to participant resumes </li>
  			<li>Holding tech-talks and product demos</li>
  			<li>Access to private interview rooms</li>
			</ul>
			<p>
        Most importantly, you will get to interact with some of the most diverse, vibrant, and
			  motivated group of engineers, creating a pool of potential candidates for internships and fulltime
			  positions.
      </p>
	  </section>

    <footer class="text-center">
      <div class="row social-media">
        <div class=" column">
          <a href="https://twitter.com/hackumass" target="_blank">
            <div class="hex">
              <div class="top"></div>
              <div class="middle"><span class="fa fa-twitter"></span></div>
              <div class="bottom"></div>
            </div>
          </a>
          <a href="https://www.facebook.com/hackUMass" target="_blank">
            <div class="hex">
              <div class="top"></div>
              <div class="middle"><span class="fa fa-facebook"></span></div>
              <div class="bottom"></div>
            </div>
          </a>
        </div>
      </div>

      <p class="row">
        Made by the HackUMass team with <span class="fa fa-heart"></span> and <span class="fa fa-coffee"></span>.
      </p>
    </footer>
    <% include includes/foot.ejs %>
  </body>
</html>
