<!DOCTYPE html>
<html>
  <% include includes/head.ejs %>
  <body ng-app="hackumass-website">

    <!--Load in all sections here-->
    <% include partials/landing.ejs %>
    <% include partials/about.ejs %>
    <% include partials/schedule.ejs %>
    <% include partials/faq.ejs %>
    <% include partials/sponsors.ejs %>

    <footer class="text-center">

      <div class="row">
        <div class="small-6 column">
          <h6>Helpful Links</h6>
          <a href="http://umass.hacksignal.io/">Request a Mentor</a><br/>
          <a href="http://hackumass-ii.challengepost.com/">ChallengePost</a>
        </div>
        <div class="small-6 column mobile-app">
          <h6>Download App</h6>
          <a class="unstyled-link" href="https://play.google.com/store/apps/details?id=com.hackumass.mobile&hl=en" target="_blank">
            <span class="fa fa-android"></span>
          </a>
          <a class="unstyled-link" href="http://app.hackumass.com" target="_blank">
            <span class="fa fa-apple"></span>
          </a>
        </div>
      </div>

      <div class="msg-box"></div>
      <div class="row" id="attend">
        <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
        <form action="//hackUMass.us3.list-manage.com/subscribe/post-json?u=916da75d92b720d21cf48bafe&amp;id=74724eb3c2" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="small-6 small-centered column">
            <h6>Want updates?</h6>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="What's your email?" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_916da75d92b720d21cf48bafe_74724eb3c2" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Keep Me Posted" name="subscribe" id="mc-embedded-subscribe" class="transparent-btn fade-btn"></div>
          </div>
        </form>
      </div>
    </footer>

    <div class="copyright text-center">
      <div class="row">
        Have other questions? Ping us at <a href="mailto:team@hackumass.com">team&commat;hackumass.com</a>
      </div>

      <div class="row">
        Made by the HackUMass team with <span class="fa fa-heart"></span> and <span class="fa fa-coffee"></span>.
      <div>
    </div>

    <script>
    //TODO: YEAH, LETS REFACTOR THIS LATER

    //i am ashamed of myself
    function blink(element, timeout){
      setTimeout(function(){
        element
          .fadeTo(200, 0.05)
          .fadeTo(200, 1)
          .fadeTo(200, 0.05)
          .fadeTo(200, 1)
      }, timeout);
    }

    $('#attend-anchor').on('click', function(){
      blink($('#mc-embedded-subscribe-form'), 1500);
    });

    $('#sponsor-anchor').on('click', function(){
      blink($('#sponsor'), 1500);
    });

    $('#mc-embedded-subscribe-form').submit(function(e){
      e.preventDefault();
      submitSubscribeForm($('#mc-embedded-subscribe-form'));
    });
    function submitSubscribeForm($form) {
      $.ajax({
        type: "GET",
        url: $form.attr("action"),
        data: $form.serialize(),
        cache: false,
        dataType: "jsonp",
        jsonp: "c", // trigger MailChimp to return a JSONP response
        contentType: "application/json; charset=utf-8",

        success: function(data){
          var resultMessage = data.msg || "Sorry. Unable to subscribe. Please try again later.";
          var textColor = '#D94B3F';

          if (data.result != "success") {
            if (data.msg && data.msg.indexOf("already subscribed") >= 0) {
              resultMessage = "You're already subscribed. Thanks!";
              textColor = '#00cc00';
            }
          } else {
            resultMessage = "All your email are belong to us. (If you just confirm your email, thanks!)";
            textColor = '#00cc00';
          }

          $('.msg-box').css('color', textColor).text(resultMessage);

          setTimeout(function(){
            $('.msg-box').text('');
          }, 5000);
        }
      });
    }
    </script>

    <% include includes/foot.ejs %>
  </body>
</html>
