<!DOCTYPE html>
<html>
  <% include includes/head.ejs %>
  <body>
    <!--Landing-->
    <section>
      <!--Logo-->
      <div class="row">
        <img class="logo small-centered column" src="/assets/img/logo.svg" alt="HackUMass Logo">
      </div>

      <!--Countdown-->
      <div class="row">

      </div>

      <!--Headline-->
      <div class="row text-center">
        <div class="small-4 column">
          <h1>500 Hackers</h1>
        </div>
        <div class="small-4 column">
          <h1>36 Hours</h1>
        </div>
        <div class="small-4 column">
          <h1>1 Stadium</h1>
        </div>
      </div>
    </section>

    <!--About-->
    <section class="alternate">
      <h1 class="text-center">About</h1>
    </section>

    <footer>

    </footer>
    <% include includes/foot.ejs %>
  </body>
</html>
