<!DOCTYPE html>
<html>
  <% include includes/head.ejs %>
  <body ng-app="hackumass-website">

    <!--Load in all sections here-->
    <% include partials/landing.ejs %>
    <% include partials/about.ejs %>
    <% include partials/faq.ejs %>
    <% include partials/schedule.ejs %>
    <% include partials/sponsors.ejs %>

    <footer class="text-center" id="page-footer">
      <div class="row email-form">
        <form action="//hackUMass.us3.list-manage.com/subscribe/post-json?u=916da75d92b720d21cf48bafe&amp;id=74724eb3c2" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="small-6 small-centered column">
            <input type="email" placeholder="email plz" class="required">
            <input type="submit" value="Submit" class="transparent-btn fade-btn">
          </div>
        </form>
      </div>

      <div id="email-submit-msg"></div>

    </footer>

    <div class="copyright text-center">
      <div class="row">
        Have other questions? Ping us at <a href="mailto:team@hackumass.com">team&commat;hackumass.com</a>
      </div>

      <div class="row">
        Made by the HackUMass team with <span class="fa fa-heart"></span> and <span class="fa fa-coffee"></span>.
      <div>
    </div>

    <script>
    //TODO: YEAH, LETS REFACTOR THIS LATER
    $('#mc-embedded-subscribe-form').submit(function(e){
      e.preventDefault();
      submitSubscribeForm($('#mc-embedded-subscribe-form'));
    });
    function submitSubscribeForm($form) {
      $.ajax({
        type: "GET",
        url: $form.attr("action"),
        data: $form.serialize(),
        cache: false,
        dataType: "jsonp",
        jsonp: "c", // trigger MailChimp to return a JSONP response
        contentType: "application/json; charset=utf-8",

        success: function(data){
          var resultMessage = data.msg || "Sorry. Unable to subscribe. Please try again later.";

          if (data.result != "success") {
            if (data.msg && data.msg.indexOf("already subscribed") >= 0) {
              resultMessage = "You're already subscribed. Thanks!";
            }
          } else {
            resultMessage = "All your email are belong to us. (If you just confirm your email, thanks!)";
          }

          $('#email-submit-msg').text(resultMessage);
        }
      });
    }
    </script>

    <% include includes/foot.ejs %>
  </body>
</html>
