<!DOCTYPE html>
<html>
  <% include includes/head.ejs %>
  <body ng-app="hackumass-website">
    <section class="prizes" ng-controller="PrizesCtrl">
      <div class="row">
        <img class="center" src="assets/img/logo.png" style="width:200px;">
      </div>

      <div class="row">
        <br/>
        <h2 class="text-center">{{title}}</h2>
        <a href="/" style="float:right">Go Back</a>
        <br/>
        <hr>

        <div class="row" ng-repeat="prize in prizes">
          <h3>{{prize.category}}</h3>
          <p>{{prize.reward}}</p>
        </div>
      </div>
    </section>

    <% include includes/foot.ejs %>
  </body>
</html>
