<!DOCTYPE html>
<html>
  <% include includes/head.ejs %>
  <body ng-app="hackumass-website">
    <section class="resources" ng-controller="ResourcesCtrl">
      <div class="row">
        <img class="center" src="assets/img/logo.png" style="width:200px;">
      </div>

      <div class="row">
        <br/>
        <h2 class="text-center">{{title}}</h2>
        <a href="/" style="float:right">Go Back</a>
        <br/>
        <hr>

        <div class="row">
          <h3>Useful Links</h3>
          <a href="https://docs.google.com/document/d/1JovGfU4vk8wSZrLFnJtiKGQ8aqdIvNIoVCvvB6DLS9k/edit">
            API Guides
          </a>
        </div>

        <br/>

        <div class="row" ng-repeat="resource in resources">
          <h3>{{resource.category}}</h3>
          <ul>
            <li ng-repeat="item in resource.items">{{item}}</li>
          </ul>
        </div>
      </div>
    </section>

    <% include includes/foot.ejs %>
  </body>
</html>
