<head>
  <meta charset="utf-8" />

  <title><%= title %></title>
  <meta name="keywords" content="UMass, Amherst, Massachusetts, Hackathon">
  <meta name="description" content="HackUMass is Western Massachusetts' largest hackathon. Come join us!">

  <meta property="og:title" content="HackUMass" />
  <meta property="og:description" content="HackUMass is Western Massachusetts' largest hackathon. Come join us!" />
  <meta property="og:url" content="hackumass.com" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="/assets/img/logo_preview.png" />

  <link rel="stylesheet" href="/assets/build/dist.min.css" />
  <link rel="stylesheet" href="/css/style.css" />

  <script type="text/javascript" src="/assets/build/dist.min.js"></script>
  <script type="text/javascript" src="services.js"></script>
  <script type="text/javascript" src="controllers.js"></script>
  <script type="text/javascript" src="directives.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
