<head>
  <meta charset="utf-8" />

  <title><%= title %></title>
  <meta name="keywords" content="">
  <meta name="description" content="">

  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="" />

  <link rel="stylesheet" href="/assets/build/dist.min.css" />
  <link rel="stylesheet" href="/css/style.css" />

  <script type="text/javascript" src="/assets/build/dist.min.js"></script>
  <script type="text/javascript" src="services.js"></script>
  <script type="text/javascript" src="controllers.js"></script>
  <script type="text/javascript" src="directives.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
